################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RockPaperScissors/packages
/RockPaperScissors/RockPaperScissors/bin
/RockPaperScissors/RockPaperScissors/obj/Release
/RockPaperScissors/RockPaperScissors/Properties/PublishProfiles
