<div class="container">
    <br />
    <div class="row">
        <strong style="font-size:20px;">Rock-Paper-Scissors: You vs. the Computer</strong> <br/>
        <strong>
            Test your strategy against the computer in this <a href="https://en.wikipedia.org/wiki/Rock-paper-scissors">rock-paper-scissors</a>
            game.
        </strong><br />
        <strong>
            Instructiones: Once you want to start the game click the "Begin" button. From that point you have 5 seconds to choose you move.
            Once you want to reset the score of your game click the "Reset" button.
        </strong>
    </div>
    <br />

    <div class="row" style="margin-top:4%;">
        <div class="col-sm-5 col-lg-offset-4">
            <span style="font-size:20px;" class="alert-success">Wins : 0</span>
            <span style="font-size:20px;" class="alert-warning">Ties : 0</span>
            <span style="font-size:20px;" class="alert-danger">Loses : 0</span>
        </div>
    </div>
    <div class="row hidden">
        <strong class="col-sm-1 col-lg-offset-4">Time left: </strong>
        <strong id="timer" class="col-sm-2"></strong>
    </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>Player move</h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                       @*[TODO]display player move*@
                    </div>
                </div>
            </div>
            <div class="col-sm-6">

                <h2>Computer move</h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                      @*[TODO]loading animation*@
                      @*[TODO]display computer move*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden">
            <i class="fa fa-hand-scissors-o fa-4x" aria-hidden="true"></i>
            <i class="fa fa-hand-paper-o fa-4x" aria-hidden="true"></i>
            <i class="fa fa-hand-rock-o fa-4x" aria-hidden="true"></i>
        </div>
        <hr />
        <div class="row">
            <button class="btn btn-primary col-sm-1 col-lg-offset-5" onclick="startTimer()">Begin</button>
            <button class="btn btn-primary col-sm-1">Reset </button>
        </div>
    </div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
          
        });

        function startTimer() {
            //[TODO] ask for computer move
            var secs = 0;
            var id = setInterval(function () {
                secs++;
                $("#timer").text(5-secs + " seconds");
                if (secs > 4) {
                    clearInterval(id);
                    //[TODO] reveal computer move
                    //[TODO] compute result
                    //[TODO] send back the results for history storage purpose
                }
            }, 1000);

        }
    </script>
}