@using RockPaperScissors.Models

@section styles{
    <link href="~/Content/Index.css" rel="stylesheet" />
}
<div class="container">
    <br />
    <div class="row">
        <strong id="gameTitle">Rock-Paper-Scissors: You vs. the Computer</strong> <br />
        <strong>
            Test your strategy against the computer in this <a href="https://en.wikipedia.org/wiki/Rock-paper-scissors">rock-paper-scissors</a>
            game.
        </strong><br />
        <strong>
            Instructiones: Once you want to start the game click the "Begin" button. From that point you have 3 seconds to choose you move.
            Once you want to reset the score of your game click the "Reset" button.
        </strong>
    </div>
    <br />
    <div class="row">
        <ul id="messages" class="text-info"></ul>
    </div>
    <div class="row" style="margin-top:3%;">
        <div class="col-sm-4">
            <h2>Player move</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="chooseMove row">
                        <button disabled="disabled" class="col-sm-4 btn btn-default buttonChoose" onclick="PlayerMove(this)" data-value="2">
                        <i class="fa fa-hand-scissors-o" aria-hidden="true"></i>Scissors</button>
                        <button disabled="disabled" class="col-sm-4 btn btn-default buttonChoose"  onclick="PlayerMove(this)" data-value="1">
                         <i class="fa fa-hand-paper-o" aria-hidden="true"></i>Paper
                        </button>
                        <button disabled="disabled" class="col-sm-4 btn btn-default buttonChoose" onclick="PlayerMove(this)" data-value="0">
                        <i class="fa fa-hand-rock-o" aria-hidden="true" ></i>Rock</button>
                    </div>
                    <div id="panelPlayer"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-12 score">
                <span class="text-success">Wins:<span id="Win" data-value="0"> 0</span></span>
                <span class="text-warning">Ties:<span id="Tie" data-value="0"> 0</span></span>
                <span class="text-danger">Loses:<span id="Lose" data-value="0"> 0</span></span>            
            </div>
            <div class="col-sm-12 hidden" id="timerDiv">
                <strong class="col-sm-6">Time left: </strong>
                <strong id="timer" class="col-sm-6"></strong></div>

            <div class="col-sm-6 col-sm-offset-4 hidden" id="result">
                <span class="text-info scaling"></span>
            </div>
        </div>
         <div class="col-sm-4">
                <h2>Computer move</h2>
                <div class="panel panel-default">
                    <div class="panel-body" id="panelComputer">
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <hr />
        <div class="row">
            <button class="btn btn-primary col-sm-1 col-lg-offset-4" onclick="startTimer()">Begin</button>
            <button class="btn btn-primary col-sm-1 col-sm-offset-1" onclick="Restart()">Restart </button>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var movePlayer = -1;

        function startTimer() {
            $(("#panelPlayer")).empty();
            $("#messages").empty();
            movePlayer = -1
            $(("#result")).addClass("hidden");
            $(".buttonChoose").each(function(i, obj) {
                $(this).prop( "disabled", false );
            });

            $(("#panelComputer")).empty();
            var icon = IconsCreator('fa fa-spinner fa-spin fa-5x col-sm-offset-5');
            $(icon).appendTo("#panelComputer");

            var secs = 0;
            $("#timerDiv").removeClass("hidden");
            $("#timer").text(3 - secs + " seconds");
            window.timer = setInterval(function () {
                secs++;
                $("#timer").text(3 - secs + " seconds");

                if (secs > 2) {
                    $(".buttonChoose").each(function (i, obj) {
                        $(this).prop("disabled", true);
                    });
                    var jqxhr = $.getJSON("/api/simpleAI", { move: movePlayer }, function () {
                    })
                      .done(function (data) {
                          if (data!=undefined){
                              $("#timerDiv").addClass("hidden");
                              $(("#panelComputer")).empty();
                              if (data.Result != "@Moves.NotSelected.ToString()") {
                              $(("#result")).removeClass("hidden");
                              $(("#result")).addClass("");
                              $(("#result")).children().first().text(data.Result);
                              } else {
                                  $("#messages").empty();
                                  $("#messages").append("<li class=\"text-warning\">You didn't select any moves.</li>")
                              }                          

                              var newResult = parseInt($("#" + data.Result).attr("data-value")) + 1;
                              $("#" + data.Result).text(newResult);
                              $("#" + data.Result).attr("data-value", newResult);
                         
                              switch (data.Id) {
                                  case 0: {
                                      var icon = IconsCreator('fa fa-hand-rock-o fa-5x col-sm-offset-5');
                                      $(icon).appendTo("#panelComputer");
                                      break;
                                  }
                                  case 1: {
                                      var icon = IconsCreator('fa fa-hand-paper-o fa-5x col-sm-offset-5');
                                      $(icon).appendTo("#panelComputer");
                                      break;
                                  }
                                  case 2: {
                                      var icon = IconsCreator('fa fa-hand-scissors-o fa-5x col-sm-offset-5');
                                      $(icon).appendTo("#panelComputer");
                                      break;
                                  }
                              }
                          }
                      })
                      .fail(function () {
                          $("#messages").empty();
                          $("#messages").append("<li class=\"text-danger\">An error occurred. Please try again or refresh (F5) the page</li>")
                      });
                  
                    clearInterval(window.timer);
                }
            }, 1000);
        }

        function PlayerMove(element) {
            $(("#panelPlayer")).empty();
            var clone = $(element).children().first().clone();
            clone.addClass("col-sm-offset-5");
            clone.addClass("fa-5x");
            clone.appendTo("#panelPlayer");
            movePlayer = $(element).attr("data-value");
        }

        function IconsCreator(iconClass) {
            var icon = document.createElement("i");
            $(icon).attr("class", iconClass);
            return icon;
        }

        function Restart() {
            clearInterval(window.timer);
            $.ajax({
                type: "Post",
                url: "api/simpleAI/Restart",
                statusCode: {
                    200: function (response) {
                        $("#Win").text(0);
                        $("#Win").attr("data-value", 0);
                        $("#Tie").text(0);
                        $("#Tie").attr("data-value", 0);
                        $("#Lose").text(0);
                        $("#Lose").attr("data-value", 0);
                        $(("#panelPlayer")).empty();
                        $(("#panelComputer")).empty();
                        $(("#result")).addClass("hidden");
                        $("#timerDiv").addClass("hidden");
                        $("#messages").empty();
                    },
                    400: function (response) {
                        $("#messages").empty();
                        $("#messages").append("<li class=\"text-danger\">An error occurred. Please try again or refresh (F5) the page</li>")
                    },
                }
            });

        }
    </script>
}